body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*--------------
    container
----------------*/

.container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 80%;
    row-gap: 100px;
    justify-content: center;
    /* background-color: aqua; */
}

/*--------------
    banner/header
----------------*/

.banner {
    background-color: black;
    width: 100%;
    height: 90%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.banner-info {
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-top: 5%;
}

.banner-heading {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.banner-description {
    color: white;
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    margin-bottom: 20px;
}

.banner-button {
    text-decoration: none;
    padding: 3%;
    font-size: 20px;
    border-radius: 5%;
    background-image: linear-gradient(rgb(228, 76, 16), rgb(255, 16, 16));
    color: white;
}

.banner-image {
    height: 430px;
}

/*------------------
     Main section 
--------------------*/
.main {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    gap: 20px;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

/*------------------
        aside
--------------------*/
.side-bar {
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 20%;
    height: 230px;
    /* margin-left: 10%; */
}

.side-button {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 700;
    background-color: white;
    padding: 15px 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
}

.uniq-color-button {
    color: white;
    font-size: 15px;
    background-color: rgb(199, 65, 8);
}

/*------------------
    Aricles section
--------------------*/
.articles {
    width: 80%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
}

.article {
    background-color: white;
    border: 1px solid rgb(236, 228, 228);
    border-radius: 15px;
    height: 309px;
}

.article-image {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 15px;
}

.article-button {
    text-decoration: none;
    /* background-color: white; */
    border: 1.5px solid rgb(98, 94, 94);
    border-radius: 5px;
    padding: 3px 10px;
    margin-left: 15px;
}

.article-details {
    margin-left: 15px;
    font-size: 15px;
}

.article-info {
    margin-left: 15px;
    display: flex;
    gap: 20px;
    padding: 15px;
    color: rgb(144, 141, 141);
    font-size: 15px;
    margin-bottom: 20px;
}

.flags-article {
    background-color: white;
    border: 1px solid rgb(236, 228, 228);
    border-radius: 15px;
    height: 180px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5px;
    /* flex-direction: column; */
    justify-content: center;
}

.flags {
    display: flex;
    column-gap: 10px;
    justify-content: center;
}

.flags img {
    width: 30%;
    margin-top: 10%;
}

.flag-details {
    text-align: center;
    margin-bottom: 10px;
}

.flag-info {
    font-size: 15px;
    font-weight: 200;
    color: rgb(129, 125, 125);
}

/*------------------
    Footer section
--------------------*/
.home-footer {
    background-color: black;
    width: 100%;
    height: 350px;
}

.home-footer-heading {
    color: white;
    font-size: 40px;
    text-align: center;
    padding-top: 90px;
}

.home-footer hr {
    border: 0.5px solid rgb(90, 87, 87);
    width: 80%;
}

.home-footer-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;

}

.home-footer-button {
    text-decoration: none;
    color: rgb(168, 165, 165);
    padding: 10px;
    text-align: center;
}

/*------------------
   Media Queries
--------------------*/

/* Mobile */
@media only screen and (max-width: 688px) {

    .container {
        gap: 5px;
        /* background-color: blue; */
    }

    .banner {
        flex-direction: column;
        align-items: center;
    }

    .banner-info {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* background-color: bisque; */
    }

    .banner-image {
        width: 100%;
        height: 87.2%;
        /* background-color: brown; */
    }

    .main {
        flex-direction: column;
    }

    .side-bar {
        background-color: white;
        gap: 15px;
        align-items: center;
        width: 100%;
        /* background-color: blue; */
    }

    .side-button {
        background-color: white;
        padding: 2% 10%;
        align-items: center;
        border: 1px solid rgb(189, 182, 182);
        border-radius: 10px;
    }

    .uniq-color-button {
        background-color: rgb(199, 65, 8);
    }

    .articles {
        grid-template-columns: repeat(1, 1fr);
        /* background-color: blueviolet; */
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .article {
        background-color: white;
        border: 1px solid rgb(221, 217, 217);
        border-radius: 15px;
        height: 309px;
    }

    .article-image {
        height: 40%;
    }

    .home-footer {
        height: 100%;
    }

    .home-footer-buttons {
        flex-direction: column;

    }

}